<div id="header" class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">METAdatabase</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form id="loginForm" class="navbar-form pull-right">
							<div class="control-group">
								<input id="loginName" class="span2" type="text" placeholder="Brugernavn">
								<input id="loginPassword" class="span2" type="password" placeholder="Password">
								<button type="submit" class="btn">Sign in</button>
							</div>
                        </form>
						<div  id="loginSuccess">
							<ul class="nav pull-right"><li><a href="#" id="logout">Logout</a></li></ul>
							<p class="navbar-text pull-right">Velkommen <strong id="loginProfile"></strong></p>
						</div>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>